#wall{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px 20px;
  margin-left: 20px;
  margin-right: 20px;
  top:50%;
}
.brick{
  border-radius: 5px;
  color: #1D3C4C;
  background: #91C3E4;
  height:100px;
  margin:5px;

  font-size: 25px;
  text-align: center;
  transition-duration: .3s;
  word-wrap: break-word;
  font-family:Arial, Helvetica, sans-serif;
}
.brick:hover{
  background-color: #45b5ff;
}